/* шрифти: Roboto 400 500 700 900, Raleway(лого) 700 */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-text-color: #212121;
  --main-focus-text-blue: #2196f3;
  --main-white-color: #ffffff;
  --color-contact: #757575;
  --color-footer: #2f303a;
  --color-bg-btn: #f5f4fa;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
/* загальне до всіх сторінок застосовується */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-text-color);
}
/* посилання */
[href] {
  text-decoration: none;
}
.hdr,
.hdr-header,
.hdr-contact,
.benefits,
.work-examples,
.work-team,
.logo,
.menu-btn,
.examples {
  list-style-type: none;
}

/* лого */
.logo-footer,
.logo-header {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-footer > span {
  color: var(--main-focus-text-blue);
}
.logo-footer {
  color: var(--main-white-color);
}
.logo-footer {
  padding-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.logo-header > span {
  color: var(--main-focus-text-blue);
}
.logo-header {
  color: var(--main-text-color);
  padding-bottom: 25px;
  padding-top: 24px;
  margin-right: 93px;
}

.hdr-header {
  display: flex;
  padding-bottom: 32px;
}
.hdr-header:not(:last-child) {
  margin-right: 50px;
}
.hdr-contact {
  padding-bottom: 32px;
  margin-left: 331px;
}

.header .container {
  display: flex;
  align-items: flex-end;
}

.hdr-contact {
  display: flex;
}

.bg-main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* вибрана сторінка, постійно підсвічується в меню */
.hdr .cap-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-focus-text-blue);
}
.hdr-header .cap-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-focus-text-blue);
}
.hdr-header .cap {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: var(--main-text-color);
  color: inherit;
}
.hdr-header .cap:hover,
.hdr-header .cap:focus,
.hdr-header .cap:active {
  color: var(--main-focus-text-blue);
}
.hdr {
  padding-bottom: 60px;
}
/* меню */
.hdr .cap {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: var(--main-text-color);
  color: inherit;
}
.hdr .cap:hover,
.hdr .cap:focus,
.hdr .cap:active {
  color: var(--main-focus-text-blue);
}
/* телефон та мейл в header і footer */
.contact-adress {
  color: var(--main-white-color);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-adress:hover,
.contact-adress:focus {
  color: var(--main-focus-text-blue);
}

.hdr-contact .contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-contact);
}
.hdr-contact .contact:hover,
.hdr-contact .contact:focus,
.hdr-contact .contact:active {
  color: var(--main-focus-text-blue);
}

.hdr .contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-contact);
}
.hdr .contact:hover,
.hdr .contact:focus,
.hdr .contact:active {
  color: var(--main-focus-text-blue);
}
/* головна сторінка */
.bg-main {
  background-color: var(--color-footer);
  color: var(--main-white-color);
  width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero-tittle {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  text-align: center;
  padding-top: 200px;
}
/* кнопка на головній */
.btn-main {
  margin: 30px auto 0px;
  display: block;
  text-align: center;
  background-color: var(--main-focus-text-blue);
  color: var(--main-white-color);
  border-color: var(--main-focus-text-blue);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  font-family: inherit;
  border-radius: 4px;
}
.btn-main:focus,
.btn-main:hover,
.btn.main:active {
  opacity: 0.5;
  cursor: pointer;
}
.benefits h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}
.benefits {
  display: flex;
  padding-top: 94px;
  padding-bottom: 47px;
}
.benefits-tittle {
  padding-bottom: 10px;
}

.examples-section {
  width: 1600px;
  margin: 0 auto;
  padding-bottom: 94px;
  text-align: center;
}
.benefits-example {
  width: 1600px;
  margin: 0 auto;
  text-align: center;
}
.team {
  width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.examples-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 47px;
}
.work-examples {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  padding-right: 215px;
  padding-left: 215px;
}

.team h3 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.work-team {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  padding-right: 215px;
  padding-left: 215px;
}

.team h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.team p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}
.bg-footer {
  background-color: var(--color-footer);
  color: var(--main-white-color);
  width: 1600px;
  height: 252px;
  margin: 0 auto;
}

/* потфоліо сторінка */

/* кнопки на сторінці портфоліо */
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: inherit;
  border-color: transparent;
  background: var(--color-bg-btn);
  color: var(--main-text-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: var(--main-white-color);
  background-color: var(--main-focus-text-blue);
  border-radius: 4px;
  border-color: var(--main-focus-text-blue);
  font-family: inherit;
  cursor: pointer;
}
.menu-btn {
  display: flex;
  justify-content: center;
}
.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.examples h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

.header {
  border-bottom: 1px solid #ececec;
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.work-team-discraption {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-white-color);
  border-radius: 0px 0px 4px 4px;
}
